.ant-select-selection-item {
    font-size: 12px;
}

.ant-select-item-option-content {
    font-size: 12px;
}

.ant-select-selection-placeholder{
    font-size: 12px;
}

.ant-select-selection-search-input{
    border-radius: 1px;
}

.ant-input-outlined{
    font-size: 12px;
}

.ant-select {
    height: 26px;
}